/* Global styles -------------------- */
* {
  box-sizing: border-box;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  font-family: var(--f-regular);
}

:root {
  /* Colors ------------------------ */
  --c-white: #ffffff;
  --c-black: #000000;
  --c-blue-12: #00254d;
  --c-blue-11: #006adc;
  --c-blue-10: #0081f1;
  --c-blue-9: #0091ff;
  --c-blue-8: #5eb0ef;
  --c-blue-7: #96c7f2;
  --c-blue-6: #b7d9f8;
  --c-blue-5: #cee7fe;
  --c-blue-4: #e1f0ff;
  --c-blue-3: #edf6ff;
  --c-blue-2: #f5faff;
  --c-blue-1: #fbfdff;
  --c-green: #30a46c;
  --c-green-1: #e9f9ee;
  --c-red: #e5484d;
  --c-pink: #f3aeaf;
  --c-pink-1: #ffefef;
  --c-gray: #687076;
  --c-gray-1: #f1f3f5;

  /* Font -------------------------- */
  --f-regular: "SofiaProRegular", "Public Sans", sans-serif;
  --f-medium: "SofiaProMedium", "Public Sans", sans-serif;

  /* Font sizes -------------------- */
  --fs-body2: 0.875rem;
  --fs-body1: 1rem;
  --fs-h1: 1.125rem;
  --fs-h2: 1.25rem;
  --fs-h3: 1.5rem;
  --fs-h4: 2.25rem;
  --fs-h5: 3rem;
  --fs-h6: 4rem;

  /* Font weights ------------------- */
  --fw-regular: 400;
  --fw-medium: 500;

  /* Spacing ------------------------ */
  --s-1: 0.25rem;
  --s-2: 0.5rem;
  --s-3: 0.75rem;
  --s-4: 1rem;
  --s-5: 1.25rem;
  --s-6: 1.5rem;
  --s-7: 1.75rem;
  --s-8: 2rem;
  --s-9: 2.25rem;
  --s-10: 2.5rem;

  /* Border radius ------------------ */
  --br-1: 6px;
  --br-2: 8px;
  --br-3: 12px;

  /* Shadows ------------------------ */
  --box-shadow: rgb(236, 238, 240) 0px 5px 15px;
}
