/* Global styles -------------------- */
* {
  font-family: var(--ff-regular);
  box-sizing: border-box;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}

:root {
  /* Colors ------------------------ */
  --c-black: #000000;

  --c-white: #ffffff;
  --c-white-1: #f1f3f5;
  --c-white-2: #f8f9fa;
  --c-white-3: #eceef0;
  --c-white-4: #dfe3e6;
  --c-white-5: #fbfcfd;
  --c-white-6: #eceef0;

  --c-gray: #687076;
  --c-gray-1: #d7dbdf;
  --c-gray-2: #c1c8cd;
  --c-gray-3: #e6e8eb;

  --c-red: #e5484d;
  --c-red-1: #ef6165;
  --c-pink: #ffefef;
  --c-pink-1: #f3aeaf;

  --c-green: #30a46c;
  --c-green-1: #e9f9ee;
  --c-green-2: #93c926;
  --c-green-3: #5d770d;
  --c-green-4: #eefadc;
  --c-green-5: #30a46c;
  --c-green-6: #69d9c1;
  --c-green-7: #def5f1;

  --c-yellow: #f7ce00;

  --c-blue: #0091ff;
  --c-blue-1: #edf6ff;
  --c-blue-2: #006adc;
  --c-blue-3: #e1f0ff;

  --c-purple: #6e56cf;
  --c-purple-1: #f5f2ff;

  /* Font -------------------------- */
  --ff-regular: "SofiaProRegular", "Public Sans", sans-serif;
  --ff-medium: "SofiaProMedium", "Public Sans", sans-serif;

  /* Font sizes -------------------- */
  --fs-body2: 0.875rem; /* 14px */
  --fs-body1: 1rem; /* 16px */
  --fs-h6: 1.125rem; /* 18px */
  --fs-h5: 1.25rem; /* 20px */
  --fs-h4: 1.5rem; /* 24px */
  --fs-h3: 2.25rem; /* 36px */
  --fs-h2: 3rem; /* 48px */
  --fs-h1: 4rem; /* 64px */

  /* Font weights ------------------- */
  --fw-regular: 400;
  --fw-medium: 500;

  /* Spacing ------------------------ */
  --s-1: 0.25rem;
  --s-2: 0.5rem;
  --s-3: 0.75rem;
  --s-4: 1rem;
  --s-5: 1.25rem;
  --s-6: 1.5rem;
  --s-7: 1.75rem;
  --s-8: 2rem;
  --s-9: 2.25rem;
  --s-10: 2.5rem;

  /* Border radius ------------------ */
  --br-1: 6px;
  --br-2: 8px;
  --br-3: 12px;

  /* Shadows ------------------------ */
  --box-shadow: rgb(236, 238, 240) 0px 5px 15px;
}
